.player-box{
    background-color: rgba(138, 138, 141, 0.712);
    color: rgb(78, 78, 78);
    max-width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 0 1rem;
    cursor: pointer;
    
    &:hover{
        filter: brightness(1.2);
        
    }

    img{
        width: 60px;
        border-radius: 100%;

    }
    
    span{
        font-size: 2rem;
    }
}

.player-active{
    background-color: #3F51B5;
    color: black;
}

