
main{
    background-image: url("../../assets/img/start.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    
}
h1{
    color: red;
    
    top: 1rem;
    font-size: 5rem;
}

.label-container{
    background-image: url("../../assets/img/label.png");
    background-position: center;
    width: 40%;
    background-size: cover;
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    cursor: pointer;

    &:hover{
        filter: brightness(1.3);
    }

    span{
        font-size: 5rem;
    }
    
    
}
